# To learn more about .editorconfig see https://aka.ms/editorconfigdocs
###############################
# Core EditorConfig Options   #
###############################

# All files
[*]
indent_style = space

# XML files
[*.{xml,xsd,config,nlog,wxs,settings,csproj,props,targets,nuspec}]
indent_size = 2
insert_final_newline = false
trim_trailing_whitespace = true
charset = utf-8

# Code files
[*.{cs}]
indent_size = 4
insert_final_newline = false
trim_trailing_whitespace = true
charset = utf-8
max_line_length = 1024

# StyleCop Rules
dotnet_diagnostic.SA0001.severity = none # XML comment analysis is disabled due to project configuration
dotnet_diagnostic.SA1000.severity = error # The keyword 'x' should be followed by a space
dotnet_diagnostic.SA1001.severity = error # Commas should be followed by whitespace
dotnet_diagnostic.SA1012.severity = error # Opening brace should be followed by a space
dotnet_diagnostic.SA1013.severity = error # Closing brace should be preceded by a space
dotnet_diagnostic.SA1027.severity = error # Tabs and spaces should be used correctly
dotnet_diagnostic.SA1028.severity = error # Code should not contain trailing whitespace
dotnet_diagnostic.SA1101.severity = none # Prefix local calls with this
dotnet_diagnostic.SA1116.severity = none # The parameters should begin on the line after the declaration, whenever the parameter span across multiple lines
dotnet_diagnostic.SA1117.severity = error # The parameters should all be placed on the same line or each parameter should be placed on its own line
dotnet_diagnostic.SA1122.severity = error # Use string.Empty for empty strings
dotnet_diagnostic.SA1124.severity = none # Do not use regions
dotnet_diagnostic.SA1127.severity = error # Generic type constraints should be on their own line
dotnet_diagnostic.SA1128.severity = error # Put constructor initializers on their own line
dotnet_diagnostic.SA1200.severity = none # Using directive should appear within a namespace declaration
dotnet_diagnostic.SA1201.severity = error # A x should not follow a y
dotnet_diagnostic.SA1202.severity = error # 'x' members should come before 'y' members
dotnet_diagnostic.SA1204.severity = none # Static members should appear before non-static members
dotnet_diagnostic.SA1206.severity = error # The 'static' modifier should appear before 'readonly'
dotnet_diagnostic.SA1208.severity = error # Using directive for 'x' should appear before directive for 'y'
dotnet_diagnostic.SA1214.severity = error # Readonly fields should appear before non-readonly fields
dotnet_diagnostic.SA1309.severity = none # Field should not begin with an underscore
dotnet_diagnostic.SA1413.severity = none # Use trailing comma in multi-line initializers
dotnet_diagnostic.SA1500.severity = error # Braces for multi-line statements should not share line
dotnet_diagnostic.SA1501.severity = error # Statement should not be on a single line
dotnet_diagnostic.SA1508.severity = error # A closing brace should not be preceded by a blank line
dotnet_diagnostic.SA1513.severity = error # Closing brace should followed by a blank line
dotnet_diagnostic.SA1516.severity = none # Elements should be separated by blank line
dotnet_diagnostic.SA1518.severity = silent # File may not end with a newline character
dotnet_diagnostic.SA1600.severity = none # Elements should be documented
dotnet_diagnostic.SA1602.severity = none # Enumeration items should be documented
dotnet_diagnostic.SA1611.severity = warning # The documentation for parameter 'x' is missing
dotnet_diagnostic.SA1623.severity = none # The property's documentation summary text should begin with: 'x'
dotnet_diagnostic.SA1629.severity = none # Documentation text should end with a period
dotnet_diagnostic.SA1633.severity = none # The file header is missing or not located at the top of the file
dotnet_diagnostic.SA1649.severity = error # File name should match first type name